

.navbar-brand {font-family: 'Bowlby One SC', cursive;
font-size: larger;}
.cont_menu{}
    




.panalmesa {font-family: 'Pacifico', cursive;
font-size: medium;}

.aromas{font-family: 'Indie Flower', cursive;}

.vertical_align {vertical-align: middle;}
   




.main_footer{
    display: flex;
    flex-direction: column;
        background-color: rgb(141, 136, 136);
        }

.footer_container{flex-direction: column;
       }

.footer_rrss{
    text-align: center;
    padding-top: 10px;
    padding-right: 0%;
}

.a_social{
    padding: 0px 10px;
}

.icon_social{
    font-size: 1.5em;
    }
.footer_copy{
    background-color: rgb(62, 53, 53);
    margin-top: 20px;
    margin-bottom: 0%;
    }
.copy{text-align: center;
color: antiquewhite;
font-size: smaller;
padding: 10px;
}






.rrhh p {
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    text-align: center;
    }
.tres_g p{font-family: 'Montserrat', sans-serif;
    background-color: rgb(186, 228, 185);
}

.dos_pilares p {font-family: sans-serif;
    background-color: rgb(228, 185, 208);
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }




  .productos{font-family: 'Bowlby One SC', cursive;
    font-size: larger;}